<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio - Dev</title>
<style>
    table {font-family: arial, sans-serif;border-collapse: collapse;width: 100%;}  
    td, th {border: 1px solid #dddddd;text-align: left;padding: 8px;}
    tr:nth-child(even) {background-color: #dddddd;}
</style>
</head>
<body>
    <h1 style="text-align: center;">Listagem de Operações</h1>
    <a href="/" style="text-align: right;">Voltar</a><br><br>
    <table>
        <tr>
          <th>ID Transacao</th>
          <th>Tipo Transacao</th>
          <th>Descricao</th>
          <th>Natureza</th>
          <th>Data de Ocorrencia</th>
          <th>Valor</th>
          <th>CPF</th>
          <th>Cartao</th>
          <th>Hora da Ocorrencia</th>
          <th>ID Loja</th>
          <th>Nome da Loja</th>
          <th>Nome do representante</th>
          <th>Saldo</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Type.IDType}}</td>
            <td>{{.Type.Description}}</p>
            <td>{{.Type.Nature}}</td>
            <td>{{.DateOccurrence}}</td>
            <td>R$ {{.Value}}</td>
            <td>{{.CPF}}</td>
            <td>{{.Card}}</td>
            <td>{{.HourOccurrence}}</td>
            <td>{{.Store.ID}}</td>
            <td>{{.Store.StoreName}}</td>
            <td>{{.Store.StoreOwner}}</td>
            <td>R$ {{.Store.Balance.Value}}</td>
        </tr>
        {{end}}
      </table>
</body>
</html>